@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

/* THIS IS ALL OLD CODE, HAD TROUBLE WITH ORIGINAL LAYOUT SO RESTARTED...

.headerCell {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #0d5eaf;
    color: whitesmoke;
    border-radius: 2%;
    padding:  0px 0px 40px 0px;
    margin: 15px 20px 15px 20px;
}

.headerCell img {
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 5%;
    height: 60vh;
    width: 100%;
    padding: 10px;
    margin: 15px;
    background-color: whitesmoke;
}

#imgFlag {
    display: grid;
    align-content: center;
    height: 400px;
    float: left;
}

#intro-text {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #0d5eaf;
    color: whitesmoke;
    border-radius: 5%;
    padding:  15px 25px 15px 25px;
    margin: 15px 20px 15px 20px;
}

#intro-text p {
    align-content: right;
    justify-content: right;
}

#title {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 8em;
}

#subTitle {
    font-family: 'Libre Baskerville' sans-serif;
}
*/
body {
    font-family: 'Libre Baskerville', Helvetica;
    margin: auto;
    max-width: 1920px;
    flex-direction: column;
    font-weight: bold;
}
header {
    font-family: 'Libre Baskerville', Helvetica;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    background: #0d5eaf;
    color: white;
    padding: 20px 15% 20px 15%;
    margin: 0px 2%;
    align-items: center;
}

#title {
    font-weight: bold;
    font-size: 5em;
    text-decoration: underline;
    margin-bottom: 0px;
}

#subtitle {
    font-size: 1.5em;
    margin-bottom: 2em;
}

#img-div {
    display: flex;
    flex-grow: -1;
    flex-shrink: 3;
    height: 65vh;
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 10%;
    margin-bottom: 25px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1.5em;
}

header li {
    display: inline-block;
    margin: 20px 30px 20px 30px;
    padding: 7px 10px;
    border: 2px solid white;
}

a:link {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: whitesmoke;
}

a:hover {
    border-bottom: 2px solid whitesmoke;
}

body div {
    /* universal div appearance */
    font-family: 'Libre Baskerville', Helvetica;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    background: #0d5eaf;
    color: white;
    width: auto;
    padding: 20px 15% 50px 15%;
    margin: 20px 2%;
}

#imgFlag {
    /* trying to get this flag pic to the left side */
    height: 30vh;
    width: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 5px solid white;
    
}
/* I want all the text, or at least first paragraph, on the right side of the flag */
#tribute-info h3 {
    font-size: 2em;
    text-decoration: underline;
    text-align: center;
}

#tribute-info {
    font-size: 1.25em;
}

#imgFace {
    margin: auto;
    margin-top: 50px;
    border: 10px solid white;
    width: 100%;
}

#medals {
    padding: 30px;
    padding-right: 0;
    font-size: 1.5em;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

#medalsImg {
    display: grid;
    border: 10px solid white;
    width: 100%;
    align-self: center;
    margin-right: 0;
    margin-left: 40px;
}

#medalsText h3 {
    text-decoration: underline;
    font-size: 1.5em;
    justify-self: center;
    margin-bottom: 0;

}

#medalsText{
    display: grid;
    margin: 0px 10px 35px 70px;
    line-height: 2;
}

#more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#more h3 {
    font-size: 30px;
    border: 3px solid white;
    padding: 5px 50px 5px 50px;
}


footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

footer li {
    display: inline-block;
    margin: 20px 30px 20px 30px;
}